@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.content .community-h{
    text-align: right;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    margin-top: 130px;
    margin-right:12% ;

}

.content .comm-info{
    margin-top: 2%;
    margin-left: 70%;
    margin-right: 10%;
    font-family: 'Questrial', sans-serif;
}

.content .comm-img{
    width: 17%;
    position: absolute;
    bottom: 58%;
    left: 10%;
} 

.content .safe-h{
    text-align: left;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    margin-top: 13%;
    margin-right:10%;
    margin-left: 10%;
}

.content .safe-p{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 75%;
    font-family: 'Questrial', sans-serif;
    
}

.content .safe-img{
    width: 20%;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.content .bg-2{
    background-color: #faeee9;
    padding-top: 1px;
    padding-bottom: 80px;
}

/*button CSS*/

.button {
    border: none;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    margin-left: 45%;
    background-color: #ac635a;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    /*transition-duration: 2s; (optional)*/
  }

  .button a{
      color: white;
      font-family: 'Righteous', cursive;
      font-size: 20px;
      text-decoration: none;
    }

.button:hover{
    background-color: #6c0d1b;
}

.button-bg{
        background-color: #faeee9;
    }


/*buttons css end*/